<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fussyspider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C84558F31B6FF52900C839D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84559071B6FF52900C839D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84559121B6FF52900C839D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
